.box{
  background-color: #C4C4C4;
  min-width: 10px;
  min-height: 10px;
  position: relative;
}

.corner{
  position: absolute;
  width: 8px;
  height: 8px;
}

.corner:nth-of-type(odd) {
  left: -4px;
}

.corner:nth-of-type(even) {
  right: -4px;
}

.corner:nth-of-type(n + 3) {
  bottom: -4px;
}

.corner:nth-of-type(-n + 2) {
  top: -4px;
}

.edge_left {
  width: 8px;
  height: 90px;
  left: -4px;
  top : -40px
}

.edge_right {
  width: 8px;
  height: 90px;
  right: -4px;
  top : -40px
}

.edge_top {
  width: 90px;
  height: 8px;
  right: -40px;
  top : -4px
}

.edge_bottom {
  width: 90px;
  height: 8px;
  right: -40px;
  bottom : -4px
}

.rotate{
  position: absolute;
  width: 15px;
  height: 15px;
}

.rotate:nth-of-type(odd) {
  left: -8.3px;
}

.rotate:nth-of-type(even) {
  right: -8.3px;
}

.rotate:nth-of-type(n + 9) {
  bottom: -8.3px;
}

.rotate:nth-of-type(n + 11) {
  top: -8.3px;
}
